body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow: auto;
}

.profile-background {
  background: url("../img/gradient-wallpaper.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 80px;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 30px;
  background-color: #1a172e;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  height: 55px;
  margin-left: -10px;
}

.nav-title-img {
  height: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.nav-link:hover {
  color: #FF00E2;
}

.logout-btn {
  background-color: #FF00E2;
  border: none;
  color: white;
  padding: 0 16px;
  border-radius: 20px;
  font-weight: 550;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 30px;
  line-height: 30px;
}

.logout-btn:hover {
  background-color: #105cd4;
}

.nav-link-active {
  color: #FF00E2;
  font-size: 30px;
  text-decoration: none;
}

/* Profile Section */
.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0720;
  color: white;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  width: 90%;
}

/* Profile Information */
.profile-left {
  display: flex;
  align-items: center;
  gap: 35px;
  position: relative;
  width: 50%;
  border-right: 1px solid white;
}

.profile-details p {
  margin: 3px 0;
  font-size: 14px;
}

.profile-details span {
  font-weight: 500;
}

.edit-icon {
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  margin-right: 5px;
  cursor: pointer;
  align-items: flex-end;
}

.edit-icon:hover {
  color: #FF00E2;
}

/* Profile Statistics */
.profile-right {
  display: flex;
  gap: 40px;
  text-align: center;
  align-items: center;
  width: 40%;
}

.stat h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 550;
}

.stat p {
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
  letter-spacing: 1px;
}
